.container-expertice-areas-card {
  background-color: var(--primary-color050);
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .container-expertice-areas-card {
    aspect-ratio: 16/6;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  .container-expertice-areas-card {
    aspect-ratio: 16/6;
  }
}
@media only screen and (min-width: 1536px) {
  .container-expertice-areas-card {
    aspect-ratio: 16/6;
  }
}

.grid-container-expertice-areas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
@media only screen and (max-width: 599px) {
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .grid-container-expertice-areas {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  .grid-container-expertice-areas {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
}
@media only screen and (min-width: 1536px) {
  .grid-container-expertice-areas {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
}
.grid-item-card-a {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 599px) {
  .grid-item-card-a {
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .grid-item-card-a {
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .grid-item-card-a {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  .grid-item-card-a {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1536px) {
  .grid-item-card-a {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}
.grid-item-card-b {
  flex-basis: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end !important;
}
@media only screen and (max-width: 599px) {
  .grid-item-card-b {
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .grid-item-card-b {
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .grid-item-card-b {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100% !important;
    align-self: flex-start;
    order: 1;
    width: 40%;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  .grid-item-card-b {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100% !important;
    align-self: flex-start;
    order: 1;
    width: 40%;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1536px) {
  .grid-item-card-b {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100% !important;
    align-self: flex-start;
    order: 1;
    width: 40%;
    box-sizing: border-box;
  }
}
.grid-item-card-c {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 599px) {
  .grid-item-card-c {
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .grid-item-card-c {
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .grid-item-card-c {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 3;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  .grid-item-card-c {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 3;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1536px) {
  .grid-item-card-c {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 3;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
  }
}
