:root {
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR PALETTE */
  --primary-color050: #edeef0;
  --primary-color100: #d1d6dc;
  --primary-color200: #b3bbc4;
  --primary-color300: #949fad;
  --primary-color400: #7d8b9b;
  --primary-color500: #56677a;
  --primary-color600: #435363;
  --primary-color700: #343b47;
  --primary-color800: #222c38;
  --primary-color900: #161f29;

  --secondary-color050: #fff9e9;
  --secondary-color100: #fdf0c8;
  --secondary-color200: #fce7a5;
  --secondary-color300: #f9de85;
  --secondary-color400: #f5d66e;
  --secondary-color500: #f2d05a;
  --secondary-color600: #e1bf54;
  --secondary-color700: #cbaa4e;
  --secondary-color800: #cba447;
  --secondary-color900: #b59449;

  --accent-color-blue: #5c7699;
  --accent-color-red: #cba447;
}
* {
  font-display: optional;
  scroll-behavior: smooth;
}
.font-light {
  color: var(--primary-color050);
}
.font-dark {
  color: var(--primary-color800);
}

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.625rem;
    font-weight: 380;
  }
  h2.section-title {
    font-size: 1.8rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.375rem;
    font-weight: 450;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  h1 {
    font-size: 3.3rem;
    font-weight: 400;
  }
  h2 {
    font-size: 2.3rem;
    font-weight: 380;
  }
  h2.section-title {
    font-size: 3.3rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  h2 {
    font-size: 2rem;
    font-weight: 380;
  }
  h2.section-title {
    font-size: 2.8rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1535px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  h2 {
    font-size: 2rem;
    font-weight: 380;
  }
  h2.section-title {
    font-size: 2.9rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 1536px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  h2 {
    font-size: 2rem;
    font-weight: 380;
  }
  h2.section-title {
    font-size: 3rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.3;
  }
}

.e1 {
  border: 1px solid blueviolet;
}
.e2 {
  border: 2px solid red;
}

body {
  margin: 0;
  background-color: var(--primary-color800);

  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}
